.registration-container {
  h1 {
    text-align: center;
    color: white;
  }
}

.register {
  position: relative;
  left: 10%;
  border: 1px solid white;
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
}
.register form {
  color: white;
  input {
    width: 300px;
    margin: 10px 0;
    border-radius: 5px;
    height: 30px;
  }
  input:focus {
    outline: none;
  }
  select {
    width: 300px;
    margin: 10px 0;
    border-radius: 5px;
    height: 30px;
  }
  input[type="checkbox"] {
    width: 12px;
  }
  input[type="submit"] {
    width: 100px;
    background-color: blue;
    border: none;
    color: white;
    font-weight: 700;
    height: 35px;
    font-size: 15px;
  }
}
.info-button {
  cursor: pointer;
  font-size: 30px;
}
.referral-info-show {
  width: 150px;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 150%;
  left: 36%;
  padding: 10px;
  background-color: rgb(127, 157, 255);
  p {
    margin: 0;
  }
}

.referral-info-hide {
  display: none;
}

.rightcontainer {
  border: 1px solid;
  border-radius: 10px;
  color: white;
  width: 340px;
  position: absolute;
  top: 50%;
  left: 70%;
}

.rightcontainer .content-right {
  padding: 15px 20px;
  h1 {
    text-align: center;
    margin: 5px 0;
  }
}
.rightcontainer .content-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 20px;
  }
}

@media (max-width: 640px) {
  .rightcontainer {
    position: relative;
    left: 0;
    margin: auto;
  }

  .register {
    left: 0;
    margin: auto;
    margin-top: 50px;
  }
}
