@import "../homescreen/homescreen.css";

.top-container-4 {
  position: relative;
  top: -116px;
  text-align: center;
  width: 100%;
  height: 400px;
  img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }
  h1 {
    width: 550px;
    position: absolute;
    top: 65%;
    left: 50%;
    color: white;
    margin: 0 auto;
    transform: translate(-50%, -50%);
  }
}

.autokriti-carousel {
  margin: 50px 0;
}

@media (max-width: 720px) {
  .top-container-4 {
    h1 {
      width: 450px;
      font-size: 24px;
    }
  }
  /* .carousel {
    height: 70vh;
  } */
}

@media (max-width: 630px) {
  .top-container-4 {
    height: 300px;
  }
  /* .carousel {
    height: 50vh;
  } */
}

@media (max-width: 450px) {
  .top-container-4 {
    h1 {
      width: max-content;
      font-size: 22px;
    }
  }
  /* .autokriti-carousel {
    height: 45vh;
  } */
}
.carousel .slider-wrapper {
  height: 100vh;
}

@media (max-width: 1000px) {
  .carousel .slider-wrapper {
    height: 80vh;
  }
}

@media (max-width: 720px) {
  .carousel .slider-wrapper {
    height: 65vh;
  }
}

@media (max-width: 680px) {
  .carousel .slider-wrapper {
    height: 50vh;
  }
}

@media (max-width: 440px) {
  .carousel .slider-wrapper {
    height: 38vh;
  }
}

.autokriti {
  color: white;
  width: 90%;
  margin: 20px auto;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  .title {
    margin: 0;
  }
}
.autokriti button {
  color: white;
  background-color: red;
  width: 200px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  padding: 10px 0;
  margin-top: 20px;
}

.autokriti button:hover {
  background-color: rgb(245, 67, 67);
}
.posters-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
figure.snip1206 {
  font-family: "Raleway", Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  color: #000000;
  text-align: center;
}
figure.snip1206 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.snip1206 img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip1206:after {
  background: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  opacity: 0.75;
  -webkit-transform: skew(-45deg) scaleX(0);
  transform: skew(-45deg) scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
figure.snip1206 figcaption {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

figure.snip1206 h1 {
  font-size: 19px;
}
figure.snip1206 h2 {
  font-size: 16.5px;
}
figure.snip1206 h1,
figure.snip1206 h2,
figure.snip1206 p {
  margin: 0;
  width: 100%;
  opacity: 0;
}
figure.snip1206 h2 {
  padding: 0 30px;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
}
figure.snip1206 p {
  padding: 0 50px;
  font-size: 0.8em;
  font-weight: 500;
}
figure.snip1206 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1206:hover:after,
figure.snip1206.hover:after {
  -webkit-transform: skew(-45deg) scaleX(1);
  transform: skew(-45deg) scaleX(1);
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

figure.snip1206:hover figcaption h1,
figure.snip1206:hover figcaption h2,
figure.snip1206.hover figcaption h2,
figure.snip1206:hover figcaption p,
figure.snip1206.hover figcaption p {
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

figure.snip1206:hover figcaption h1,
figure.snip1206.hover figcaption h1 {
  opacity: 1;
}

figure.snip1206:hover figcaption h2,
figure.snip1206.hover figcaption h2 {
  opacity: 1;
}

figure.snip1206:hover figcaption p,
figure.snip1206.hover figcaption p {
  opacity: 0.7;
}
.auto-slides {
  width: 100%;
  height: 100%;
}

.auto-slides img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.leftarrow-container {
  /* height: 100vh; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  opacity: 10;
  cursor: pointer;
  z-index: 20;
}
/* top-0 bottom-0 left-0 flex justify-center items-center p-3 opacity-30 hover:opacity-100 cursor-pointer z-20` */

.rightarrow-container {
  /* height: 100vh; */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  opacity: 10;
  cursor: pointer;
  z-index: 20;
}
/* top-0 bottom-0 right-0 flex justify-center items-center p-3 opacity-30 hover:opacity-100 cursor-pointer z-20`/ */
.leftarrow {
  width: 60px;
  height: 60px;
  color: #fff;
}
.leftarrow:hover {
  opacity: 100;
}
/* w-9 h-9 text-white */
.rightarrow {
  width: 60px;
  height: 60px;
  color: white;
}

.rightarrow:hover {
  opacity: 100;
}
