.past-participation {
  position: relative;
  margin-top: 40px;
  h1 {
    color: white;
    text-align: center;
    margin-bottom: 0;
  }
}

.past-participation .container {
  display: flex;
  justify-content: center;
}

.past-participation .container .myswiper {
  width: 80%;
  position: unset;
}

/* @media (max-width: 400px) {
  .past-participation .swiper-wrapper .swiper-slide {
    width: 250px !important;
  }
} */
.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-prev {
  top: 60% !important;
  left: 50px !important;
}
.swiper-button-next {
  top: 60% !important;
  right: 50px !important;
}
/* @media (max-width: 1210px) {
  .past-participation .container {
    width: 900px;
  }
} */

/* @media (max-width: 940px) {
  .past-participation .container {
    width: 585px;
  }
} */
@media (max-width: 1350px) {
  .past-participation .container .myswiper {
    width: 75%;
  }
}
@media (max-width: 1000px) {
  .past-participation .container .myswiper {
    width: 70%;
  }
}

@media (max-width: 740px) {
  .past-participation .container .myswiper {
    width: 48%;
  }
}

.past-participation .container::-webkit-scrollbar-button {
  display: none;
}

@media (max-width: 511px) {
  .past-participation .container .myswiper {
    width: 56%;
  }
  .past-participation .container .swiper-slide .box {
    width: 260px;
    margin-right: 0;
  }
  .swiper-button-prev {
    left: 30px !important;
  }
  .swiper-button-next {
    right: 30px !important;
  }
}
@media (max-width: 440px) {
  .past-participation .container .myswiper {
    width: 66%;
  }
  .past-participation .container .swiper-slide .box {
    width: 260px;
    margin-right: 0;
  }
  .swiper-button-prev {
    left: 20px !important;
  }
  .swiper-button-next {
    right: 20px !important;
  }
}

.past-participation .container .box {
  position: relative;
  width: 261px;
  height: 155px;
  background: #000;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 20px;
}
.past-participation .container:hover .box {
  transform: rotateY(25deg);
}
.past-participation .container .box:hover ~ .box {
  transform: rotateY(-25deg);
}
.past-participation .container .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}
.past-participation .container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 155px;
}
.past-participation .container .box .imgBx:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #f00, #000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}
.past-participation .container .box:hover .imgBx:before {
  opacity: 1;
}
.past-participation .container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.past-participation .container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 30px;
  align-items: flex-end;
  box-sizing: border-box;
}
.past-participation .container .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}
.past-participation .container .box:hover .content h2 {
  transform: translateY(0px);
}
.past-participation .container .box .content ul {
  margin: 0 -40px;
  list-style: none;
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}
.past-participation .container .box .content ul li {
  display: inline;
  margin-right: 15px;
}
.past-participation .container .box:hover .content ul {
  transform: translateY(0px);
}
