/* .app-container{
  overflow-x: hidden;
} */

.top-container {
  position: relative;
  top: -116px;
  text-align: center;
  width: 100%;
  height: 400px;
  img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }
  h1 {
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    margin: 0 auto;
    transform: translate(-50%, -50%);
  }
}

.text::before,
.text::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 4px;
  position: absolute;
}

@media (max-width: 1025px) {
  .top-container {
    height: 350px;
  }
}

@media (max-width: 700px) {
  .top-container {
    height: 320px;
    h1 {
      width: 450px;
      font-size: 24px;
    }
  }
}
@media (max-width: 600px) {
  .top-container {
    height: 280px;
    h1 {
      width: 400px;
      font-size: 22px;
    }
  }
}

@media (max-width: 550px) {
  .top-container {
    h1 {
      width: max-content;
    }
  }
  .text::before,
  .text::after {
    display: none;
  }
}


.profile-container {
  margin-top: 90px;
  h1 {
    color: #fff;
    text-align: center;
  }
}

.profile-container .row-p {
  width: 100%;
  z-index: 1;
  position: relative;
}
.profile-container .row-p .inner-container {
  margin: auto;
  display: flex;
  width: 85%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.profile-container .row-p .col-p {
  flex-basis: 23%;
  padding: 10px;
}

@media (max-width: 1176px) {
  .profile-container .row-p .col-p {
    flex-basis: 28%;
  }
}

@media (max-width: 860px) {
  .profile-container .row-p .col-p {
    flex-basis: 39%;
  }
}

@media (max-width: 590px) {
  .profile-container .row-p .col-p {
    flex-basis: 52%;
    margin: auto;
    height: 400px;
  }
}

@media (max-width: 460px) {
  .profile-container .row-p .col-p {
    flex-basis: 75%;
    margin: auto;
    height: 400px;
  }
}
